<style>
    /* views/style.css */
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        text-align: center;
    }

    h1 {
        color: #333;
    }

    p {
        color: #666;
    }

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Savebills app</title>
</head>
<body>
<div class="container">
    <img width="100" src="https://savebills.com.ng/static/media/lg.ded7938f7b7bdd344a7a.png" alt="Save Logo">
<!--    <h1>SAVEBILLS</h1>-->
    <h1>Backend</h1>
</div>
</body>